.cartListWarp{
    position: absolute;
    top: .4rem;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    .cartListconent{
        background: #fff;
        .cartListItem{
            display: flex;
            position: relative;
            padding: .1rem;
            justify-content: space-between;
            background: #fff;
            &.active{
                transition: .2s linear;
            }
            >div:first-child{
                display: flex;
                img{
                    width: 1rem;
                }
                h3{
                    font-size: .16rem;
                    height: .4rem;
                    line-height: .4rem;
                }
            }
            div:last-child{
                p{
                    color: #f40;
                    padding: .1rem 0;
                    text-align: right;
                }
                div{
                    border: 1px solid #ccc;
                    display: flex;
                    justify-content: space-between;
                    width: .8rem;
                    padding: .05rem;
                    button{
                        border: 0;
                        background: #fff;
                    }
                }
            }
        }
        .cartItemWarp{
            position: relative;
            border-bottom: 1px solid #ccc;
        }
        .iconfontWarp{
            position: absolute;
            right: 0;
            height: 100%;
            width: .9rem;
            background: #f40;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                transform: rotateZ(45deg);
                font-size: .5rem;
                color: #fff;
            }
        }
    }
    .ComputedPrice{
        position: fixed;
        left: 0;
        bottom: 0;
    }
}