.menu{
    background: #fff;
    Header{
        background: #fff;
    }
    >div{
        display: flex;
        position: absolute;
        top:.4rem;
        left: 0;
        width: 100%;
        bottom: .46rem;
    }
}
.MenuLefttNav{
    width: 1rem;
    border-right: 1px solid #ccc;
}
.menuRight{
    flex: 1;
}