.cityList{
    h2{
        font-size: .16rem;
        height: .4rem;
        line-height: .4rem;
        padding-left: .1rem;
    }
    ol{
        h3{
            font-size: .16rem;
            background:#ccc;
            padding:.06rem .1rem;
            display: flex;
            justify-content: space-between;
        }
        li{
            border-top: 1px solid #ccc;
            height: .3rem;
            font-size: .16rem;
            padding-left: .1rem;
            line-height: .3rem;
        }
    }
}