.cityList{
    background: #fff;
    h2{
        font-size: .16rem;
        height: .4rem;
        line-height: .4rem;
        padding-left: .1rem;
    }
    h3{
        font-size: .16rem;
        background:#ccc;
        padding:.06rem .1rem;
        display: flex;
        justify-content: space-between;
    }
    ol{
        li{
            border-top: 1px solid #ccc;
            height: .3rem;
            font-size: .16rem;
            padding-left: .1rem;
            line-height: .3rem;
        }
    }
    .active{
        transition: .3s linear;
        transform: rotateZ(0deg);
    }
    .active2{
        transition: .3s linear;
        transform: rotateZ(90deg);
    }
}