.menuLeftNav{
    // border-right: 1px solid #ccc;
    ol{
        li{
            height: .5rem;
            line-height: .5rem;
            text-align: center;
            font-size: .14rem;
            border-bottom:1px solid #ccc;
        }
    }
}
