.Rows{
    height: .8rem;
    padding: 0 .2rem;
    h3{
        height: .8rem;
        line-height: .8rem;
        font-size: .18rem;
        font-weight: 900;
    }
    >div{
        border-bottom: 1px solid #ccc;
        padding-left:.1rem; 
        display: flex;
        justify-content: space-between;
        height: .8rem;
        line-height: .8rem;
    }
}