
.menuRightList{
    >div{
        >h2{
            font-size: .16rem;
            background: #ccc;
            height: .3rem;
            line-height: .3rem;
            padding-left:.3rem; 
        }
        ul{
            li{
                display: flex;
                border-bottom: 1px solid #ccc;
                margin: 0 .1rem;
                padding: .1rem 0;
                img{
                    width: .8rem;
                }
                >div:last-child{
                    h3{
                        font-weight: 900;
                        height: .3rem;
                        line-height: .3rem;
                    }
                    >div{
                        >div:first-child{
                            p{
                                width: 1.8rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            span{
                                color:#f40;
                            }
                        }
                        >div:last-child{
                            text-align: right;
                            padding-right: .1rem;
                            button{
                                color:#f40;
                                border: 1px solid #f40;
                                background: #fff;
                                padding:0 .05rem;
                                border-radius: .03rem;
                            }
                        }
                    }
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}